@import "normalize.css";
@import "base/_mixins";
@import "base/_variable";
@import "base/_global";
@import "base/_grid";
@import "base/_helper";
@import "modules/_heading";
@import "modules/_btn";

@import "modules/_header";
@import "modules/_large-hero";
@import "modules/_our-beginning";
@import "modules/_services";
@import "modules/_counter";
@import "modules/_testimonial";
@import "modules/_reveal-item";
@import "modules/_modal";
@import "modules/_form";
@import "modules/_contact-box";
























































/*$mainBlue: #00A3C8;
$steelBlue: #004861;
body {
    color: #333;
}
h1{
    color: #fc3;
}

.large-hero{
    
    h2{
        color: $steelBlue;
    }
}*/